@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&Inconsolata:wght@500;600&JetBrains+Mono:ital,wght@1,100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}